<table>
    <tr>
        <th>title</th><th>due day</th><th>status</th><th>score</th>
    </tr>
    
    <% for (var i = 0; i < tasks.length; i++) { %>
        <tr>
        <td><%= tasks[i].title %></td>
        <td><%= tasks[i].due_day %></td>
        <td><%= tasks[i].status %></td>
        <td><%= tasks[i].score %></td>
        </tr>    
    <% } %>
</table>
