<h1 class="mt-4">Task options </h1>

<a href="/tasks/post_task" class="btn btn-secondary">Post a new task</a>
<a href="/tasks/current_task" class="btn btn-secondary">List current tasks</a>
<a href="/tasks/hist_task" class="btn btn-secondary">List history tasks</a>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
    </div>
  </nav>


